body{

}

.table{
  width: 15%;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-right:30px;
  margin-left: 20px;
  border: 2px solid grey;
}

.reflect-answers{
  margin-left: 20px;
  font-family: "Lucida Console", Monospace;
  background-image: url("images/bigsur.png");
  font-weight: bold;

}

footer{
  margin-left: 40%;
}

.second-page{
  background-image: url("images/bigsur.png");
}